<VirtualHost *:80>
    ServerName {{ ontobee_domain }}
    ServerAlias {{ ontobee_prefix }}.*.xip.io

    DocumentRoot {{ ontobee_path }}
    <Directory {{ ontobee_path }}>
      Options Indexes MultiViews FollowSymLinks
      AllowOverride None
      Order allow,deny
      allow from all
    </Directory>

    CustomLog /var/log/apache2/ontobee_access.log combined 
    ErrorLog /var/log/apache2/ontobee_error.log 
</VirtualHost>
